openapi: 3.0.0
info:
  title: Control Bridge API
  description: |
    GPT Actions bridge + shared project memory for marbomebel.ru.

    ## Jobs
    Jobs are auto-dispatched on creation — NO confirmation needed.
    Flow: createJob → poll getJobStatus → getJobResult when completed.
    Only ONE job can run at a time. Call getActiveJobs first to check.

    ## Memory
    Shared memory between GPT and Claude Code. 6 layers:
    - **policies** — project rules, constraints, conventions
    - **incidents** — errors, stack traces, verified fixes (auto-dedup)
    - **solutions** — proven patterns, playbooks, snippets
    - **decisions** — architectural decisions, tradeoffs
    - **episodes** — session summaries, open loops
    - **contexts** — code, infra, deployment knowledge

    ALWAYS call memoryBootstrap at the START of a new task to load project context.
    Use memorySearch to find relevant experience before starting work.

    ## Review Loop
    Claude Code can request human review. Flow:
    1. Claude Code posts review request → you get notified
    2. Call getPendingReviews to see what needs attention
    3. Discuss with user
    4. Send feedback via jobFeedback (approve/revise/cancel)
  version: "2.1.0"
servers:
  - url: https://api.marbomebel.ru
    description: Production

paths:
  # ─── Health ─────────────────────────────────────────────────────────────────
  /health:
    get:
      operationId: healthCheck
      summary: "Health check"
      responses:
        "200":
          description: "Service healthy"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  version:
                    type: string
                required:
                  - ok

  # ─── Jobs ───────────────────────────────────────────────────────────────────
  /jobs/active:
    get:
      operationId: getActiveJobs
      summary: "Check if any jobs are currently running. ALWAYS call this BEFORE createJob. If non-empty, do NOT create a new job — tell the user to wait."
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "List of active jobs. Empty array means safe to create a new job."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    job_id:
                      type: string
                    status:
                      type: string
                    title:
                      type: string
                    created_at:
                      type: number

  /jobs:
    post:
      operationId: createJob
      summary: "Create and auto-start a new job. Returns 429 if another job is running."
      description: |
        Creates a job and automatically dispatches it to Claude Code.
        DO NOT call confirmJob after this — it is not needed.
        Just poll getJobStatus until status is 'completed' or 'failed'.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "Short title for the job"
                raw_user_request:
                  type: string
                  description: "Original user request text"
                normalized_brief:
                  type: string
                  description: "Normalized brief for execution"
                  default: ""
              required:
                - title
                - raw_user_request
      responses:
        "200":
          description: "Job created and auto-dispatched"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "429":
          description: "Another job is already running. Tell the user to wait."

  /jobs/{job_id}/status:
    get:
      operationId: getJobStatus
      summary: "Poll job status."
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Current job status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "404":
          description: "Job not found"

  /jobs/{job_id}/result:
    get:
      operationId: getJobResult
      summary: "Get job result (only meaningful when status is completed)"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job result"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResultResponse"
        "404":
          description: "Job not found"

  /jobs/{job_id}/cancel:
    post:
      operationId: cancelJob
      summary: "Cancel a running or queued job"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job cancelled"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "404":
          description: "Job not found"

  # ─── Review Loop ────────────────────────────────────────────────────────────
  /jobs/pending-reviews:
    get:
      operationId: getPendingReviews
      summary: "Check for jobs waiting for review. Call at START of every conversation and when user asks 'what happened?'"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Jobs in review/approved/revision_requested status"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    job_id:
                      type: string
                    title:
                      type: string
                    status:
                      type: string
                    review_data:
                      type: object
                      properties:
                        summary:
                          type: string
                        questions:
                          type: array
                          items:
                            type: string
                        alternatives:
                          type: array
                          items:
                            type: string

  /jobs/{job_id}/review:
    get:
      operationId: getJobReview
      summary: "Read review details for a specific job"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Review data"
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string
                  review:
                    type: object

  /jobs/{job_id}/feedback:
    post:
      operationId: jobFeedback
      summary: "Send feedback after discussing review with user. Decision: approve, revise, or cancel."
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum: [approve, revise, cancel]
                comment:
                  type: string
                  description: "Instructions for revision or reason for cancel"
              required:
                - decision
      responses:
        "200":
          description: "Feedback accepted"
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string

  # ─── Memory: Read ───────────────────────────────────────────────────────────
  /memory/bootstrap:
    get:
      operationId: memoryBootstrap
      summary: "Load full project context. CALL THIS at the start of every new task."
      description: |
        Returns: active policies, recent sessions, open incidents,
        top verified solutions, recent decisions, and memory stats.
        This gives you the full picture before starting work.
      security:
        - BearerAuth: []
      parameters:
        - name: project
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Bootstrap context"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapResponse"

  /memory/search:
    get:
      operationId: memorySearch
      summary: "Full-text search across all memory layers. Use before starting a task to find relevant experience."
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: "Search query (natural language)"
          schema:
            type: string
        - name: tables
          in: query
          required: false
          description: "Comma-separated layers to search: incidents,solutions,decisions,contexts,policies,episodes"
          schema:
            type: string
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: "Ranked search results from matching memory layers"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _type:
                      type: string
                      description: "Memory layer: incidents, solutions, etc."
                    id:
                      type: integer
                    title:
                      type: string
                    rank:
                      type: number

  /memory/stats:
    get:
      operationId: memoryStats
      summary: "Get counts for all memory layers"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Memory statistics"
          content:
            application/json:
              schema:
                type: object

  /memory/incidents:
    get:
      operationId: memoryIncidents
      summary: "List errors and their fixes. Filter by status to see open or fixed."
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: "Filter: open, investigating, fixed, wontfix, duplicate"
          schema:
            type: string
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "List of incidents"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Incident"
    post:
      operationId: memoryAddIncident
      summary: "Record a new error/incident. Auto-deduplicates."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_message:
                  type: string
                context:
                  type: string
                probable_cause:
                  type: string
                project:
                  type: string
                service:
                  type: string
              required:
                - error_message
      responses:
        "200":
          description: "Created or deduplicated incident"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Incident"

  /memory/solutions:
    get:
      operationId: memorySolutions
      summary: "List proven solutions. Use verified=true for battle-tested ones."
      security:
        - BearerAuth: []
      parameters:
        - name: verified
          in: query
          required: false
          schema:
            type: boolean
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "List of solutions"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Solution"
    post:
      operationId: memoryAddSolution
      summary: "Record a working solution or pattern"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                code:
                  type: string
                tags:
                  type: string
                project:
                  type: string
                verified:
                  type: boolean
              required:
                - title
                - description
      responses:
        "200":
          description: "Created solution"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Solution"

  /memory/decisions:
    get:
      operationId: memoryDecisions
      summary: "List architectural decisions and tradeoffs"
      security:
        - BearerAuth: []
      parameters:
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "List of decisions"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    chosen:
                      type: string
                    alternatives:
                      type: string
                    tradeoffs:
                      type: string
                    not_doing:
                      type: string

  /memory/policies:
    get:
      operationId: memoryPolicies
      summary: "List active project rules and constraints"
      security:
        - BearerAuth: []
      parameters:
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: "rule, constraint, convention, limitation"
          schema:
            type: string
      responses:
        "200":
          description: "List of policies"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    content:
                      type: string
                    category:
                      type: string

  /memory/episodes:
    get:
      operationId: memoryEpisodes
      summary: "List recent work sessions"
      security:
        - BearerAuth: []
      parameters:
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: "List of episodes"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    summary:
                      type: string
                    what_done:
                      type: string
                    where_stopped:
                      type: string
                    what_remains:
                      type: string
    post:
      operationId: memoryAddEpisode
      summary: "Record a session summary"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                what_done:
                  type: string
                where_stopped:
                  type: string
                what_remains:
                  type: string
                project:
                  type: string
              required:
                - summary
      responses:
        "200":
          description: "Created episode"
          content:
            application/json:
              schema:
                type: object

  /memory/contexts:
    get:
      operationId: memoryContexts
      summary: "List saved code/infra/deployment contexts"
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          required: false
          description: "code, infra, docs, deployment, summary, config, api"
          schema:
            type: string
        - name: project
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "List of contexts"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    content:
                      type: string
                    category:
                      type: string
                    file_path:
                      type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    JobResponse:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [queued, dispatched, running, review, approved, revision_requested, completed, failed, cancelled]
      required: [job_id, status]

    JobResultData:
      type: object
      properties:
        summary:
          type: string
        changes_made:
          type: array
          items:
            type: string
        artifacts:
          type: array
          items:
            type: string
      required: [summary]

    JobResultResponse:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: "#/components/schemas/JobResultData"
      required: [job_id, status]

    BootstrapResponse:
      type: object
      properties:
        policies:
          type: array
          items:
            type: object
        recent_sessions:
          type: array
          items:
            type: object
        open_incidents:
          type: array
          items:
            type: object
        top_solutions:
          type: array
          items:
            type: object
        recent_decisions:
          type: array
          items:
            type: object
        stats:
          type: object

    Incident:
      type: object
      properties:
        id:
          type: integer
        error_message:
          type: string
        status:
          type: string
        verified_fix:
          type: string
        occurrence_count:
          type: integer
        probable_cause:
          type: string

    Solution:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        code:
          type: string
        verified:
          type: integer
        use_count:
          type: integer
        usefulness_score:
          type: integer
