openapi: 3.0.0
info:
  title: Control Bridge API
  description: GPT Actions bridge for marbomebel.ru — create, confirm, monitor and cancel jobs.
  version: "1.3.0"
servers:
  - url: https://api.marbomebel.ru
    description: Production

paths:
  /health:
    get:
      operationId: healthCheck
      summary: "Health check"
      responses:
        "200":
          description: "Service healthy"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                  - ok

  /jobs:
    post:
      operationId: createJob
      summary: "Create a new job"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "Short title for the job"
                raw_user_request:
                  type: string
                  description: "Original user request text"
                normalized_brief:
                  type: string
                  description: "Normalized brief for execution"
                  default: ""
              required:
                - title
                - raw_user_request
      responses:
        "200":
          description: "Job created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "429":
          description: "Another job is already running. Wait for it to finish."

  /jobs/active:
    get:
      operationId: getActiveJobs
      summary: "Check if any jobs are currently running (call before createJob)"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "List of active jobs (empty array = safe to create)"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    job_id:
                      type: string
                    status:
                      type: string
                    title:
                      type: string
                    created_at:
                      type: number

  /jobs/{job_id}/confirm:
    post:
      operationId: confirmJob
      summary: "Confirm a queued job to start execution"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job confirmed and running"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "404":
          description: "Job not found"
        "409":
          description: "Job cannot be confirmed in current state"

  /jobs/{job_id}/status:
    get:
      operationId: getJobStatus
      summary: "Get job status"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "404":
          description: "Job not found"

  /jobs/{job_id}/result:
    get:
      operationId: getJobResult
      summary: "Get job result"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job result"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResultResponse"
        "404":
          description: "Job not found"

  /jobs/{job_id}/cancel:
    post:
      operationId: cancelJob
      summary: "Cancel a job"
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Job cancelled"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
        "404":
          description: "Job not found"
        "409":
          description: "Job cannot be cancelled in current state"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    JobResponse:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
          enum:
            - queued
            - dispatched
            - running
            - completed
            - failed
            - cancelled
      required:
        - job_id
        - status

    JobResultData:
      type: object
      properties:
        summary:
          type: string
          description: "Human-readable summary of what was done"
        changes_made:
          type: array
          items:
            type: string
          description: "List of changes made"
        artifacts:
          type: array
          items:
            type: string
          description: "List of artifacts produced"
        tests_run:
          type: array
          items:
            type: string
          description: "List of tests that were run"
        manual_checks:
          type: array
          items:
            type: string
          description: "Manual checks the user should perform"
        risks_remaining:
          type: array
          items:
            type: string
          description: "Any remaining risks or caveats"
      required:
        - summary
        - changes_made
        - artifacts
        - tests_run
        - manual_checks
        - risks_remaining

    JobResultResponse:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - cancelled
        result:
          $ref: "#/components/schemas/JobResultData"
      required:
        - job_id
        - status
